# macOS system files
**/.DS_Store
bin/.DS_Store
**/DDFMM
DDFMM/*

# Build and CMake directories with Compiled binary files
vs_temp/
out/
bin/
x64/
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# VSCode settings
.vscode/
.github/
.vs/

# Cache and log files
.cache
*.log
*.tmp
*.cmake
*.etl
*.user
