# macOS system files
**/.DS_Store
bin/.DS_Store
**/DDFMM
DDFMM/*
# Build and CMake directories
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Compiled binary files
x64/
bin/
bin/*

# VSCode settings
.vs/
.vscode/
.github/
metadata/

# Lua folder

**source/res/scripts

# Cache and log files
.cache
*.log
*.tmp
*.cmake
