# macOS system files
**/.DS_Store
bin/.DS_Store
**/DDFMM
DDFMM/*
# Build and CMake directories
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
vs_temp/

# Compiled binary files
bin/
bin/*
x64/*

# VSCode settings
.vscode/
.github/
metadata/
.vs/
Ekzeckt/**

# Lua folder

**res/scripts

# Cache and log files
.cache
*.log
*.tmp
*.cmake
*.etl
*.user
